<footer class="navbar navbar-default navbar-fixed-bottom text-white">
  <div class="navbar-inner">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 col-sm-12">
          Тел: {{ site.phone | escape }}
        </div>
        <div class="col-md-4 col-sm-12">
          {{ site.footer-text | escape }}
        </div>
        <div class="col-md-4 col-sm-12">
          © {{ site.title | escape }} 2017 г.
        </div>
      </div>  
    </div>
  </div>
</footer>
