---
# Only the main Sass file needs front matter (the dashes are enough)
---


@import 'variables';
@import 'bootstrap';

.navbar {
	font-weight: bold;
}

.navbar-brand img {
	width: 50px;
	height: 50px;
	display: inline;
	z-index: 10;
}

.post-title {
	color: $red;
	text-transform: uppercase;
	font-weight: bold;
}
.wrapper .container {
	padding-bottom: 60px;
}

.media-object {
	width: 100%;
}

footer.navbar {
	padding-top: 10px;
	background-color: #c3c3c3;
	border-color: #a3a3a3;
	font-weight: normal;
	color: #4d4d4d;
}

.text-white {
	color: #ffffff;
}
.uppercase {
	text-transform: uppercase;
}