$red: #5d8132;
$blue: #507828;
$navbar-default-bg:                $blue;
$navbar-default-link-color:                #ffffff;
$navbar-default-link-hover-color:          $red;
$navbar-default-link-hover-bg:             #ffffff;
$navbar-default-link-active-color:         $red;

