$red: #e80010;
$blue: #186188;
$navbar-default-bg:                $blue;
$navbar-default-link-color:                #ffffff;
$navbar-default-link-hover-color:          $red;
$navbar-default-link-hover-bg:             #ffffff;
$navbar-default-link-active-color:         $red;

